<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="console" />
    <appender-ref ref="file" />
    <!--both colored-console-logging and file-logging is enabled-->
    <appender-ref ref="LogFileAppender" />
    <!--<appender-ref ref="ColoredConsoleAppender" />-->
   
    <!--Output control level, from high to low: OFF > FATAL > ERROR > WARN > INFO > DEBUG > ALL -->

    <priority value="ALL" />
    <level value="ALL" />
    <!--<appender-ref ref="RollingFileAppender" />-->



  </root>
  <!--colored log on console-->
  <appender name="console" type="log4net.Appender.ManagedColoredConsoleAppender">
    <mapping>
      <level value="INFO" />
      <forecolor value="White" />
    </mapping>
    <mapping>
      <level value="ERROR" />
      <forecolor value="Red" />
    </mapping>
    <mapping>
      <level value="DEBUG" />
      <forecolor value="Green" />
      <level value="WARN" />
      <forecolor value="Yellow" />
    </mapping>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="file" type="log4net.Appender.RollingFileAppender">
    <file value="main.log" />
    <!--Log Storage Path-->
    <file value="C:\Users\simms\learn\projects\HelloEarthTwo\HelloEarthTwo\LogText.txt"/>
    <!--Prevent Writing When Multithreaded Log，Officially, threads are unsafe.-->
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <!--To configure Unicode Code-->
    <encoding value="utf-8" />
    <!--Write to only one file-->
    <staticLogFileName value="false" />
    <!--Add a suffix to the file name, which can be used as: Generate with date as file name log. -->
    <datePattern value="yyyyMMdd'.txt'" />
    <!--Filter-->

    <!--Reject log output used(Logging switch)-->
    <!--<filter type="log4net.Filter.DenyAllFilter" />-->

    <!--Only log events of a specified level are logged-->
    <!--<filter type="log4net.Filter.LevelMatchFilter">
        <AcceptOnMatch value="true" />
        <param name="levelToMatch" value="DEBUG" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />-->

    <!--Only log events at the specified range level are logged-->
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="DEBUG" />
      <param name="LevelMax" value="FATAL" />
      <param name="LevelMax" value="INFO" />
      <param name="LevelMax" value="ERROR" />
      <param name="LevelMax" value="WARN" />
    </filter>
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="25MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
    </layout>
  </appender>

  <!--log to file-->
  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
    <param name="File" value="F:\\log.txt" />
    <param name="AppendToFile" value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd hh:mm:ss} – %m%n" />
    </layout>
  </appender>

</log4net>